*{
   font-family: "Poppins",sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   flex-grow: 1;
   background-image: url(/image/photo.jpg);
   background-size: cover;
   height: 100%;
   width: 100%;
   max-width: 100vw;
   max-height: 100vh;
   background-position: center;
   background-position: center;
}
.container{
  width: 420px;
  background:transparent;
  border: 2px solid rgba(225, 225, 225, .2);
  backdrop-filter: blur(10px);
  box-shadow: 0 1px 10px rgba(0, 0, 0, .25);
  color: #ffff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 30px 40px;

}
.container h1{
    font-size: 36px;
    text-align: center;
}
.container .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    /* background-color: skyblue; */
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background:transparent;;
    border: none;
    outline: none;
    border: 2px solid rgba(225, 225, 225, .2);
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    font-size: 16px;
    color: #ffff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #ffff;
}
.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    font-size: 20px;
}
.remember-forgot{
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
    font-size: 15px;
   
}
.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remember-forgot a {
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover{
   text-decoration: underline; 
}
.container .button{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    font-size: 18px;
    color:#aaa ;
    font-weight: 600;
}
.container .eregister-link{
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}
.container .eregister-link p a{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.container .eregister-link  p a:hover{
    text-decoration: underline;
}
